iframe {
  position: fixed;
  left: 70%;
}

#div1 {
	position: absolute;
	top: 2%;
	left: 1%;
	width: 65%;
	font-size: 150%;
}

#div0 {
	position: fixed;
	top: 20%;
	left: 70%;
	width: 65%;
	font-size: 300%;
}

#bookdiv1 {
	position: absolute;
	top: 2%;
	left: 2%;
	width: 96%;
	font-size: 150%;
}

.body a {
	cursor:pointer;
}


/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navbar a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 2% 2%;
  text-decoration: none;
  font-size: 200%;
}

/* Change the color of links on hover */
.navbar a.next:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.next {
  float:right;
}

.navbar a.translate{
	float:left;
}