iframe {
  position: fixed;
  left: 70%;
}

#div1 {
	position: absolute;
	top: 10%;
	left: 1%;
	width: 65%;
	font-size: 150%;
}

#div0 {
	position: fixed;
	top: 2%;
	left: 2%;
	width: 65%;
	font-size: 200%;
}